/* static/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: pink; /* ピンクの背景色を追加 */
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.task {
    border: 1px solid #d8018d;
    margin-bottom: 10px;
    padding: 10px;
}

h1{
    margin:30px;
    padding:12px;
    color:#F08972;
    text-align:center;
    border-top:1px solid #F08972;
    border-bottom:1px solid #F08972;
}

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

h2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
